<form method="POST" action="/story/task/{{ task.id }}/delete">
<div id="deltask{{ task.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deltaskLabel" aria-hidden="true">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="deltaskLabel">Delete
    {{task.project.name}}/{{task.series.name}} task ?</h3>
  </div>
  <div class="modal-body">
    <label>Comment</label>
    <textarea class="input-block-level" name="comment" rows="3"
     placeholder="Add a comment"></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input class="btn btn-primary" type="submit" value="Delete task">
  </div>
</div>
</form>
