{% extends "base.html" %}
{% block main %}
<div class="row-fluid">
  <div class="span2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Stories</li>
        <li><a href="#">Add new bug</a></li>
        <li><a href="#">Add new feature</a></li>
        <li><a href="#">Search stories</a></li>
        <li class="nav-header">Reports</li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!--/.well -->
    {% block extranav %}
    {% endblock %}
  </div><!--/span-->
  <div class="span10">
    {% block content %}
    {% endblock %}
  </div><!--/span-->
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">$("#tab-tasks").addClass('active')</script>
{% endblock %}
