include AUTHORS
include ChangeLog
include storyboard/api/app.wsgi
include storyboard/db/migration/README
include storyboard/db/migration/alembic.ini
include storyboard/db/migration/alembic_migrations/script.py.mako
include storyboard/db/migration/alembic_migrations/versions/README
exclude .gitignore
exclude .gitreview

global-exclude *.pyc
