hacking>=1.0.0,<1.1.0

coverage!=4.4,>=4.0 # Apache-2.0
fixtures>=3.0.0 # Apache-2.0/BSD
mock>=2.0 # BSD
oslotest>=3.2.0 # Apache-2.0
stestr>=1.0.0 # Apache-2.0
testscenarios>=0.4,<0.5
posix_ipc>=0.9.8
