{% extends "base.html" %}
{% block main %}
<div class="row-fluid">
  <div class="span2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Stories</li>
        <li><a href="#addbug" data-toggle="modal">Add new bug</a></li>
        <li><a href="#addfeature" data-toggle="modal">Add new feature</a></li>
        <li class="disabled"><a href="#">Search stories</a></li>
        <li class="nav-header">Reports</li>
        <li class="disabled"><a href="#">A report</a></li>
      </ul>
    </div><!--/.well -->
    {% block extranav %}
    {% endblock %}
  </div><!--/span-->
  <div class="span10">
    {% block content %}
    {% endblock %}
  </div><!--/span-->
</div>
{% endblock %}
{% block postscript %}
<script type="text/javascript">
$("#tab-stories").addClass('active');
</script>
{% include "stories.modal_addstory.html" with story_type='bug' %}
{% include "stories.modal_addstory.html" with story_type='feature' %}
  {% block modals %}
  {% endblock %}
{% endblock %}
