{% load storyviewfilters %}
<form method="POST" action="/story/task/{{ task.id }}">
<div id="edittask{{ task.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edittaskLabel" aria-hidden="true">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="edittaskLabel">Edit {{task.project.name}}
{% if story.is_bug %}({{task.milestone.branch.short_name}}){% endif %}
task</h3>
  </div>
  <div class="modal-body">
    <label>Title <small>(optional)</small></label>
    <input type="text" name="title" value="{{ task.title }}">
    <label>Assignee</label>
    <div class="input-prepend">
      <span class="add-on"><i class="icon-user"></i></span>
      <input id="prependedInput" type="text" name="assignee"
             value="{{task.assignee.username}}">
    </div>
    <label>Milestone</label>
    <div class="btn-group" data-toggle="buttons-radio">
    {% if task.milestone not in milestones %}
      <button type="button" data-value="{{task.milestone.id}}"
              class="btn btn-small active edittask_ms{{task.id}} btn-success">
              {{ task.milestone.name }}</button>
    {% endif %}
    {% for milestone in milestones %}
      {% if milestone.branch == task.milestone.branch %}}
      <button type="button" data-value="{{milestone.id}}"
              class="btn btn-small
{% if task.milestone == milestone %}active{% endif %}
{% if not milestone.released or task.milestone == milestone %}edittask_ms{{task.id}}{%endif%}
{% if milestone.released %}btn-success
  {% if task.milestone != milestone %}disabled{%endif%}
{% endif %}"
{% if task.milestone != milestone and milestone.released %}disabled="disabled"{%endif%}>
              {{ milestone.name }}</button>
      {% endif %}
    {% endfor %}
    </div>
    <label class="after-buttongroup">Status</label>
    <div class="btn-group" data-toggle="buttons-radio">
  {% for code, status in taskstatuses %}
    <button type="button" data-value="{{code}}"
            class="edittask_status{{ task.id }} btn btn-small btn-{{code|taskcolor}}{% if task.status == code %} active{% endif %}">{{ status }}</button>
  {% endfor %}
    </div>
    <label class="after-buttongroup">Comment</label>
    <textarea class="input-block-level" name="comment" rows="3"
     placeholder="Add a comment"></textarea>
    <input type="hidden" id="edittask_ms{{task.id}}" name="milestone" value="{{ task.milestone.id }}">
    <input type="hidden" id="edittask_status{{task.id}}" name="status" value="{{ task.status }}">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <input class="btn btn-primary" type="submit" value="Save changes">
  </div>
</div>
</form>
<script type="text/javascript">
$(".edittask_status{{task.id}}").click(function() {
    $("#edittask_status{{task.id}}").val($(this).data("value"));
});
$(".edittask_ms{{task.id}}").click(function() {
    $("#edittask_ms{{task.id}}").val($(this).data("value"));
});
</script>
