{% extends "about.base.html" %}
{% block content %}
    <div class="hero-unit">
      <h1>StoryBoard</h1>
      <h3>A task tracking system for inter-related projects.</h3>
      <p>StoryBoard lets you track what needs to be done across projects and series. It is a proof-of-concept demo of what the ideal OpenStack task tracker would look like. It may or may not end up replacing Launchpad Bugs/Blueprints for OpenStack task tracking and release management.</p>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <h2>Stories</h2>
        <p>It all begins with a <strong>story</strong>. A story is a bug report or proposed feature. Stories are then further split into <strong>tasks</strong>, which affect a given project and series. You can easily track backports of bugs to a specific series, or plan cross-project features.</p>
        <p><a class="btn" href="/story">Access stories &raquo;</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>Projects</h2>
        <p>StoryBoard lets you efficiently track your work across a large number of interrelated projects. Flexible <strong>project groups</strong> lets you get the views that makes the most sense to you.</p>
        <p><a class="btn" href="/project">Access projects &raquo;</a></p>
      </div><!--/span-->
      <div class="span4">
        <h2>But why ?</h2>
        <p>The OpenStack project is now running into a number of limitations and annoying differences in workflow with Launchpad. At the same time, Launchpad development stalled, leaving us with little chances to improve the tool to suit our needs. This POC reuses key Launchpad concepts (like bug tasks) and goes beyond.</p>
      </div><!--/span-->
    </div><!--/row-->
{% endblock %}
