{% extends "projects.base.html" %}
{% block extranav %}
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">{{project.name}}</li>
    <li><a href="/project/{{project.name}}">Dashboard</a></li>
    <li class="divider"></li>
    <li><a href="/project/{{project.name}}/bugs">List bug tasks</a></li>
    <li class="disabled"><a href="#">Triage bugs
       <span class="badge badge-important">34</span></a></li>
    <li><a href="#addstory" data-toggle="modal">Report new bug</a></li>
    <li class="divider"></li>
    <li class="disabled"><a href="#">List feature tasks</a></li>
    <li class="disabled"><a href="#">Propose new feature</a></li>
  </ul>
</div><!--/.well -->
{% endblock %}
{% block modals %}
{% include "stories.modal_addstory.html" with project=project.name %}
{% endblock %}
