{% extends "projects.project.html" %}
{% load storyviewfilters %}
{% block content %}
<div class="row-fluid">
  <div class="span12">
    <h3 class="span6">{{ title }} for {{ ref.name }}</h3>
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th class="sortable-column" data-order-key="story__priority"><a href="#">Priority</a></th>
          <th class="sortable-column" data-order-key="id"><a href="#">#</a></th>
          <th class="sortable-column" data-order-key="story__title"><a href="#">Story</a></th>
          <th class="sortable-column" data-order-key="title"><a href="#">Task</a></th>
{% if is_bug %}<th class="sortable-column" data-order-key="milestone__branch__name"><a href="#">Branch</a></th>{% endif %}
{% if is_group %}<th class="sortable-column" data-order-key="project__name"><a href="#">Project</a></th>{% endif %}
          <th class="sortable-column" data-order-key="assignee__username"><a href="#">Assignee</a></th>
          <th class="sortable-column" data-order-key="milestone__name"><a href="#">Milestone</a>
          </th>
        </tr>
      </thead>
      <tbody>
{% for task in tasks %}
        <tr class="{{ task.status|taskcolor }}">
          <td><span class="badge{{ task.story.priority|priobadge }}">
      {{ task.story.get_priority_display }}</span></td>
          <td>{{ task.id }}</td>
          <td><small><a href="/story/{{task.story.id}}">{{ task.story.title }}</a></small></td>
          <td>{{ task.title }}</td>
{% if is_bug %}<td>{{ task.milestone.branch.name }}</td>{% endif %}
{% if is_group %}<td>{{ task.project.name }}</td>{% endif %}
          <td>{{ task.assignee.username }}</td>
          <td>{% if not task.milestone.undefined %}{{ task.milestone.name }}{% endif %}</td>
        </tr>
{% endfor %}
      </tbody>
    </table>

    <div class="row-fluid">
      <div class="pagination span3">
          <ul>
              <li><a class="fist-page-link">&laquo</a></li>
              <li><a class="last-page-link">&raquo</a></li>
          </ul>
      </div>
      <div class="pull-right" style="margin-top: 20px">
        <div class="btn-group">
          <a class="btn dropdown-toggle" href="#" data-toggle="dropdown" id="pagination_current_value">
              <span class="caret"></span></a>
          <ul class="dropdown-menu" id="page-size">
            <li><a data-value="15">15 tasks per page</a></li>
            <li><a data-value="30">30 tasks per page</a></li>
            <li><a data-value="50">50 tasks per page</a></li>
            <li><a data-value="100">100 tasks per page</a></li>
            <li class="divider"></li>
            <li><a data-value="-1">All tasks</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block postscript %}
    <script src="/static/js/common.js"></script>
    <script src="/static/js/pagination.js"></script>
    <script src="/static/js/ordering.js"></script>
    <script type="text/javascript">$(function() {setPaginationDropdownValue("{{ page_size }}")})</script>
    <script type="text/javascript">$(function() {bindPaginationDropdownHandlers()})</script>
    <script type="text/javascript">$(function() {setPaginationLinks({{ page_count }}, {{ page_number }}, {{ page_size }})})</script>
    <script type="text/javascript">$(function() {setPageType("{{ page_type }}")})</script>
    <script type="text/javascript">$(function() {bindOrderingHandlers()})</script>
    <script type="text/javascript">
        $(function() {
            {% for field, type in arrow_object.items %}
                addOrderArrow("{{ field }}", "{{ type }}");
            {% endfor %}
        })
    </script>
{% endblock %}
